/**
 * @author PrimeModule
 * @description How to use:
 *
 * <header class="header">
 *   <div class="header__logo">
 *     <a href="/" class="header__logo__link" title="Logo">Logo</a>
 *   </div>
 *
 *   <nav class="header__navigation">
 *     <ul class="header__menu">
 *       <li class="header__menu__item">
 *         <a href="#">Link</a>
 *       </li>
 *     </ul>
 *   </nav>
 * </header>
 */

.header {
  height: 50px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  @include clearfix;
  &--center {
    text-align: center;
  }

  &__logo {
    display: inline-block;
    &__link {
    }
  }

  &__navigation {
    display: inline-block;
  }

  &__menu {
    @include clearfix;
    &__item {
      float: left;
      margin-left: 30px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
