/**
 * @author PrimeModule
 * @description: Good practices:
 * - Try to avoid magic numbers in your code.
 * - Using variables makes you more consistent.
 * - Do not create too many variables.
 */

$light: #ffffff;
$stable: #f8f8f8;
$positive: #387ef5;
$calm: #11c1f3;
$balanced: #33cd5f;
$energized: #ffc900;
$assertive: #ef473a;
$dark: #444444;
