/**
 * @author PrimeModule
 * @description: Good practices:
 * - Try to avoid magic numbers in your code.
 * - Using variables makes you more consistent.
 * - Do not create too many variables.
 */

$color-light: #ffffff;
$color-stable: #f8f8f8;
$color-positive: #387ef5;
$color-calm: #11c1f3;
$color-balanced: #33cd5f;
$color-energized: #ffc900;
$color-assertive: #ef473a;
$color-dark: #444444;
$color-black: #000000;

$max-width: 1180px;
