<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../dist/structure.css">

  <title>Structure.css</title>
</head>
<body>
  <header class="header">
    <section class="section">
      <div class="header__logo pull-left">
        <a href="/" class="header__logo__link" title="Logo">Logo</a>
      </div>

      <nav class="header__navigation pull-right">
        <ul class="header__menu">
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
          <li class="header__menu__item">
            <a href="#">Link</a>
          </li>
        </ul>
      </nav>
    </section>
  </header>

  <div class="intro">
    <section class="section">
      <h1 class="intro__tagline">Tagline</h1>
      <p class="intro__subline">Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula.</p>
      <a href="#" class="button button--positive" title="Learn more">
        <span class="button__inner">Learn more</span>
      </a>
    </section>
  </div>

  <section class="section">
    more content soon
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>
</body>
</html>
