<header class="header">
  <section class="section">
    <div class="header__logo pull-left">
      <a href="/" class="header__logo__link" title="Logo">Logo</a>
    </div>

    <nav class="header__navigation pull-right">
      <ul class="header__menu">
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
        <li class="header__menu__item">
          <a href="#">Link</a>
        </li>
      </ul>
    </nav>
  </section>
</header>
