/**
 * @author PrimeModule
 * @description How to use:
 *
 * <form class="form">
 *   <fieldset>
 *     <div class="form__group">
 *       <label for="field-id">Field label</label> <!-- /if possible set `for` attribute to bind label with field. Accessibility FTW.
 *       <div class="form__field">
 *         <input type="text" id="field-id" class="form__input">
 *       </div>
 *     </div>
 *   </fieldset>
 * </form>
 */

.form {
  // elements
  &__group { // Represents group of label and field.
    // todo
  }

  &__label {
    // todo
  }

  &__field { // Wrapper for form field: input, textarea, select.
    // todo
  }

  &__input,
  &__textarea,
  &__select {
    display: block;
    width: 100%;
  }

  // fields
  &__input {
    // todo
  }
  &__textarea { // Do not set height here if not needed. Use `rows` attribute on element.
    // todo
  }
  &__select {
    // todo
  }
}

@mixin form-inline($label-size: 100px) {
  .form {
    &__group {
      &--inline {
        @include clearfix;
        .form {
          &__label {
            float: left;
            padding-right: 10px;
            text-align: right;
            width: $label-size;
          }
          &__field {
            display: block;
            overflow: hidden;
          }
        }
      }
    }
  }
}
